.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.messages {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 400px;
  border: 1px solid lightgray;
}

.messageInput {
  margin-top: 15px;
  display: flex;
}

.messageContainer {
  width: 100%;
  margin: 0px 5px;
}

input {
  height: 24px;
  width: 100%;
}

button {
  margin-left: 5px;
  height: 30px;
  width: 120px;
  font-size: large;
}

p {
  font-size: medium;
  background-color: lightgray;
  padding: 5px;
  width: fit-content;
  border-radius: 5px;
  margin: 7px;
}

.ownMessage {
  background-color: lightblue;
  align-self: flex-end;
}

i {
  color: chocolate;
}
